<main class="mainLogin fondoWhite">
    <section class="contenedorLogin">
        <article class="cImgLogin">
            <img class="imgPLogin" src="/assets/img/imgLogin.svg" alt="imgLogin">
        </article>
        <article class="cLogin modoWhite">
            <div class="cTitulo">
                <span class="bTxtBienvenida">Bienvenido a</span>
                <span class="bTxtTitulo textColorWhite">Veterinaria</span>
            </div>
            <div class="cBtnGoogle">
                <button class="btnGoogle modoWhite shadowColorWhite"><img class="imgGmail" src="/assets/img/gmail.png" alt="gmail"><span class="txtGmail">Iniciar sesión con Google</span></button>
            </div>
            <div class="cOr">
                <div class="lineaOr lineaWhite"></div>
                <span class="or">OR</span>
                <div class="lineaOr lineaWhite"></div>
            </div>
            <form class="formLogin" action="">
                <div class="cInputLogin">
                    <input class="inputLoginWhite borderInput" type="email" name="email" id="email">
                    <label class="labelLogin modoWhite lblRWhite" for="email">Email</label>
                </div>
                <div class="cInputLogin">
                    <input class="inputLoginWhite borderInput" type="password" name="contraseña" id="contraseña">
                    <label class="labelLogin modoWhite lblRWhite" for="contraseña">Contraseña</label>
                    <button type="button" class="btnContra lblRWhite" id="togglePassword">
                    <i class="fa-solid fa-eye" id="iconPassword"></i>
                    </button>
                </div>
                <div class="cRecordar">
                    <span class="cInputCheck">
                        <input type="checkbox" name="recuerdame" id="recuerdame">
                        <label class="lRecuerdame" for="recuerdame">Recuérdame</label>
                    </span>
                    <a class="linkOlvWhite textColorWhite" href="#">¿Olvidaste tu contraseña?</a>
                </div>
                <button id="login" class="btnLogin">Login</button>
                <span class="cRegistrarse">¿No tienes cuenta? <a class="linkRegistrarseWhite textColorWhite" href="/register">Registrate</a></span>
                <span class="cRegistrarse">Volver a <a class="linkRegistrarseWhite textColorWhite" href="/">Home</a></span>
            </form>
        </article>
    </section>
</main>
<script src="/scripts/login.js"></script>