<main class="mainCRegister fondoWhite">
    <section class="sectionCRegister fondoWhite">
        <article class="articleRegister">
            <div class="divRegister">
                <h2 class="tituloRegister lblRWhite">Registro</h2>
                <p class="txtRegister lblRWhite">Regístrate para disfrutar de Chatbot</p>
                <form class="formRegister">
                    <div class="cInputRegister fondoWhite">
                        <input class="inputRegisterWhite borderWhite" type="text" name="nombre" id="nombre">
                        <label class="labelRegister fondoWhite lblRWhite" for="nombre">Nombre y apellido*</label>
                    </div>
                    <div class="cInputRegister fondoWhite">
                        <input class="inputRegisterWhite borderWhite" type="text" name="avatar" id="avatar">
                        <label class="labelRegister fondoWhite lblRWhite" for="avatar">Avatar</label>
                    </div>
                    <div class="cInputRegister fondoWhite">
                        <input class="inputRegisterWhite borderWhite" type="email" name="email" id="email">
                        <label class="labelRegister fondoWhite lblRWhite" for="email">Email*</label>
                    </div>
                    <div class="cInputRegister fondoWhite">
                        <input class="inputRegisterWhite borderWhite" type="password" name="contraseña" id="contraseña">
                        <label class="labelRegister fondoWhite lblRWhite" for="contraseña">Contraseña*</label>
                        <button type="button" class="btnContra lblRWhite"><i class="fa-solid fa-eye"></i></button>
                    </div>
                    <div class="cInputRegister fondoWhite">
                        <input class="inputRegisterWhite borderWhite" type="password" name="repetirContraseña" id="repetirContraseña">
                        <label class="labelRegister fondoWhite lblRWhite" for="repetirContraseña">Repetir Contraseña*</label>
                        <button type="button" class="btnContra lblRWhite"><i class="fa-solid fa-eye"></i></button>
                    </div>
                    <button id="btnRegistrarse" class="btnRegistrarse">Registrarse</button>
                    <div class="cOr">
                        <div class="lineaOr lineaWhite"></div>
                        <span class="or lblRWhite">O</span>
                        <div class="lineaOr lineaWhite"></div>
                    </div>
                    <div class="cBtnGoogle">
                        <button class="btnGoogle modoWhite shadowColorWhite"><span class="txtGmail">Continuar con Google</span> <img class="imgGmail" src="/assets/img/gmail.png" alt="gmail"></button>
                    </div>
                    <span class="txtIniciarSesion lblRWhite">¿Ya tiene una cuenta? <a class="lIniciarSesionWhite" href="/login">Iniciar sesión</a></span>
                    <span class="txtIniciarSesion lblRWhite">Volver a <a class="lIniciarSesionWhite" href="/">Home</a></span>
                </form>
            </div>
        </article>
        <article class="articleFRegister">
        </article>
    </section>
</main>
<script src="/scripts/register.js"></script>